<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Dashboard</title>
    <meta name="description" content="Dashboard"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {include file="common/css" /}
</head>
<!-- /Head -->
<!-- Body -->
<body>
<!-- Loading Container -->
{include file="common/loading" /}
<!--  /Loading Container -->
<!-- Navbar -->
{include file="common/header" /}
<!-- /Navbar -->
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Sidebar -->
        {include file="common/sidebar" /}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">首页</a>
                    </li>
                    <li class="active">文章管理</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Header -->
            <div class="page-header position-relative">
                <div class="header-title">
                    <h1>
                        文章管理
                        <small>
                            <i class="fa fa-angle-right"></i>
                            添加文章
                        </small>
                    </h1>
                </div>
                <!--Header Buttons-->
                <div class="header-buttons">
                    <a class="sidebar-toggler" href="#">
                        <i class="fa fa-arrows-h"></i>
                    </a>
                    <a class="refresh" id="refresh-toggler" href="">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </a>
                    <a class="fullscreen" id="fullscreen-toggler" href="#">
                        <i class="glyphicon glyphicon-fullscreen"></i>
                    </a>
                </div>
                <!--Header Buttons End-->
            </div>
            <!-- /Page Header -->
            <!-- Page Body -->
            <div class="page-body">
                <!--body-->
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-palegreen">
                                <span class="widget-caption">添加文章</span>
                            </div>
                            <div class="widget-body">
                                <div>
                                    <form class="form-horizontal" action="/admin/article.html" method="post" enctype="multipart/form-data" role="form">
                                        <div class="form-group">
                                            <label for="title" class="col-sm-2 control-label no-padding-right">标题：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="title" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="sub_title" class="col-sm-2 control-label no-padding-right">副标题：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="sub_title" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red"></p>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label no-padding-right">属性：</label>
                                            <div class="col-sm-6">
                                                <div class="checkbox">
                                                    <label style="padding-left: 0; padding-right: 5px;">
                                                        <input type="checkbox" class="inverted">
                                                        <span class="text">头条[h]</span>
                                                    </label>
                                                    <label style="padding-left: 0; padding-right: 5px;">
                                                        <input type="checkbox" class="inverted">
                                                        <span class="text">幻灯[f]</span>
                                                    </label>
                                                    <label style="padding-left: 0; padding-right: 5px;">
                                                        <input type="checkbox" class="inverted">
                                                        <span class="text">推荐[t]</span>
                                                    </label>
                                                    <label style="padding-left: 0; padding-right: 5px;">
                                                        <input type="checkbox" class="inverted">
                                                        <span class="text">特推[s]</span>
                                                    </label>
                                                    <label style="padding-left: 0; padding-right: 5px;">
                                                        <input type="checkbox" class="inverted">
                                                        <span class="text">图片[p]</span>
                                                    </label>
                                                    <label style="padding-left: 0; padding-right: 5px;">
                                                        <input type="checkbox" id="flag-v" class="inverted">
                                                        <span class="text">视频[v]</span>
                                                    </label>
                                                    <label style="padding-left: 0; padding-right: 5px;">
                                                        <input type="checkbox" id="flag-j" class="inverted">
                                                        <span class="text">跳转[j]</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <p class="help-block col-sm-4 red"></p>
                                        </div>
                                        <div class="form-group" id="red_url" style="display: none;">
                                            <label for="redirecturl" class="col-sm-2 control-label no-padding-right">跳转地址：</label>
                                            <div class="col-sm-6">
                                                <input type="url" class="form-control" id="redirecturl" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red"></p>
                                        </div>
                                        <div class="form-group" id="vid_url" style="display: none;">
                                            <label for="videourl" class="col-sm-2 control-label no-padding-right">跳转地址：</label>
                                            <div class="col-sm-6">
                                                <input type="url" class="form-control" id="videourl" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red"></p>
                                        </div>
                                        <div class="form-group">
                                            <label for="sub_title" class="col-sm-2 control-label no-padding-right">标签：</label>
                                            <div class="col-sm-6">
                                                <select id="tag_ids" multiple="multiple" style="width: 100%;">
                                                    <option value="AL" />Alabama
                                                    <option value="AK" />Alaska
                                                    <option value="AZ" />Arizona
                                                    <option value="AR" />Arkansas
                                                </select>
                                            </div>
                                            <p class="help-block col-sm-4 red"></p>
                                        </div>
                                        <div class="form-group">
                                            <label for="litpic" class="col-sm-2 control-label no-padding-right">缩略图：</label>
                                            <div class="col-sm-6">
                                                <input type="file" class="form-control" id="litpic" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red"></p>
                                        </div>
                                        <div class="form-group">
                                            <label for="sort" class="col-sm-2 control-label no-padding-right">权重：</label>
                                            <div class="col-sm-2">
                                                <input type="number" value="50" class="form-control" id="sort" placeholder="">
                                            </div>
                                            <label for="click" class="col-sm-2 control-label no-padding-right">点击量：</label>
                                            <div class="col-sm-2">
                                                <input type="number" value="{{:rand(200,500)}}" class="form-control" id="click" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red"></p>
                                        </div>
                                        <div class="form-group">
                                            <label for="source" class="col-sm-2 control-label no-padding-right">来源：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="source" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red"></p>
                                        </div>
                                        <div class="form-group">
                                            <label for="author" class="col-sm-2 control-label no-padding-right">作者：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="author" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red"></p>
                                        </div>
                                        <div class="form-group">
                                            <label for="column_id" class="col-sm-2 control-label no-padding-right">栏目：</label>
                                            <div class="col-sm-6">
                                                <select name="column_id" class="form-control" id="column_id">
                                                    <option value=""> --请选择栏目-- </option>
                                                    <option value=""> 新闻资讯 </option>
                                                    <option value=""> 笑话 </option>
                                                    <option value=""> vue </option>
                                                    <option value=""> thinkPHP </option>
                                                </select>
                                            </div>
                                            <p class="help-block col-sm-4 red"></p>
                                        </div>
                                        <div class="form-group">
                                            <label for="keywords" class="col-sm-2 control-label no-padding-right">关键词：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="keywords" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red"></p>
                                        </div>
                                        <div class="form-group">
                                            <label for="description" class="col-sm-2 control-label no-padding-right">摘要：</label>
                                            <div class="col-sm-6">
                                                <textarea name="description" id="description" class="form-control" rows="5"></textarea>
                                            </div>
                                            <p class="help-block col-sm-4 red"></p>
                                        </div>
                                        <div class="form-group">
                                            <label for="images" class="col-sm-2 control-label no-padding-right">图集：</label>
                                            <div class="col-sm-6">
                                                <input type="file" multiple="multiple" class="form-control" id="images" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red"></p>
                                        </div>
                                        <div class="form-group">
                                            <label for="content" class="col-sm-2 control-label no-padding-right">内容：</label>
                                            <div class="col-sm-9">
                                                <div id="weditor" style="width: 100%;"></div>
                                                <textarea name="content" id="content" style="width: 100%;display: none;"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="accessory" class="col-sm-2 control-label no-padding-right">附件：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="accessory" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="accessory_jur_id" class="col-sm-2 control-label no-padding-right">附件权限：</label>
                                            <div class="col-sm-2">
                                                <select name="accessory_jur_id" class="form-control" id="accessory_jur_id">
                                                    <option value=""> --请选择附件权限-- </option>
                                                    <option value="1"> 开放 </option>
                                                    <option value="2"> 登录 </option>
                                                    <option value="3"> 积分 </option>
                                                    <option value="4"> 收费 </option>
                                                </select>
                                            </div>
                                            <label for="fee" class="col-sm-2 control-label no-padding-right">费用：</label>
                                            <div class="col-sm-2">
                                                <input type="number" class="form-control" value="0" id="fee" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="commentable" class="col-sm-2 control-label no-padding-right">是否允许评论：</label>
                                            <div class="col-sm-2">
                                                <label class="padding-top-5">
                                                    <input id="commentable" class="checkbox-slider slider-icon colored-blue" type="checkbox">
                                                    <span class="text"></span>
                                                </label>
                                            </div>
                                            <label for="titlecolor" class="col-sm-2 control-label no-padding-right">标题颜色：</label>
                                            <div class="col-sm-2">
                                                <input type="color" class="form-control" id="titlecolor" placeholder="">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-palegreen">保 存</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//body-->
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>


{include file="common/js" /}

<script>
    var editor = new wangEditor("#weditor");
    if (editor.customConfig){
        editor.customConfig.uploadImgServer = '/posts/image/upload';
        editor.customConfig.onchange = function (html) {
            // 监控变化，同步更新到 textarea
            $("#content").val(html)
        }
        // console.log(editor);
        editor.create();
    }

    $("#tag_ids").select2({
        placeholder: "请选择标签",
        allowClear: true
    });

    $(".form-group").find(".checkbox").find("input").click(function (e) {
        if ($("#flag-j").is(":checked")){
            $("#red_url").slideDown();
        } else{
            $("#red_url").slideUp();
        }
        if ($("#flag-v").is(":checked")){
            $("#vid_url").slideDown();
        } else{
            $("#vid_url").slideUp();
        }
    });
</script>
</body>
<!--  /Body -->
</html>
