<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>Dashboard</title>
    <meta name="description" content="Dashboard"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {include file="common/css" /}
</head>
<!-- /Head -->
<!-- Body -->
<body>
<!-- Loading Container -->
{include file="common/loading" /}
<!--  /Loading Container -->
<!-- Navbar -->
{include file="common/header" /}
<!-- /Navbar -->
<!-- Main Container -->
<div class="main-container container-fluid">
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Sidebar -->
        {include file="common/sidebar" /}
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">首页</a>
                    </li>
                    <li class="active">水印设置</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->
            <!-- Page Header -->
            <div class="page-header position-relative">
                <div class="header-title">
                    <h1>
                        <!--<a class="btn btn-primary shiny" href="/admin/article/create.html"><i class="fa fa-plus"></i> 添加</a>-->
                        <!--<a class="btn btn-danger shiny" href="javascript:void(0);" onclick=""><i class="fa fa-times"></i> 删除</a>-->
                    </h1>
                </div>
                <!--Header Buttons-->
                <div class="header-buttons">
                    <a class="sidebar-toggler" href="#">
                        <i class="fa fa-arrows-h"></i>
                    </a>
                    <a class="refresh" id="refresh-toggler" href="">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </a>
                    <a class="fullscreen" id="fullscreen-toggler" href="#">
                        <i class="glyphicon glyphicon-fullscreen"></i>
                    </a>
                </div>
                <!--Header Buttons End-->
            </div>
            <!-- /Page Header -->
            <!-- Page Body -->
            <div class="page-body">
                <!--body-->
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-palegreen">
                                <span class="widget-caption">水印设置</span>
                            </div>
                            <div class="widget-body">
                                <div>
                                    <form class="form-horizontal" action="/admin/watermark.html" method="post" enctype="multipart/form-data" role="form">
                                        <!--<input type="hidden" name="_method" value="PUT">-->
                                        <input type="hidden" name="id" value="1">
                                        <div class="form-group">
                                            <label for="isopen" class="col-sm-2 control-label no-padding-right">是否开启水印：</label>
                                            <div class="col-sm-2">
                                                <label class="padding-top-10">
                                                    <input id="isopen" name="isopen" value="1" onclick="Ajax.Changestatus('isopen','{{$watermark.isopen ? \'0\' : \'1\'}}','/admin/watermark/1/change.html',false);" class="checkbox-slider slider-icon colored-blue" {eq name="$watermark.isopen" value="1"}checked{/eq} type="checkbox">
                                                    <span class="text"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label no-padding-right">水印类型：</label>
                                            <div class="col-sm-6">
                                                <div class="radio">
                                                    {volist name="wmtyperes" id="vo"}
                                                    <label style="padding-left: 0; padding-right: 20px;">
                                                        <input class="colored-blue" name="watermark_type_id" value="{{$vo.id}}" type="radio" {eq name="$watermarkres.watermark_type_id" value="$vo.id"}checked{/eq}>
                                                        <span class="text">{{$vo.title}} </span>
                                                    </label>
                                                    {/volist}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="wmheight" class="col-sm-2 control-label no-padding-right">添加水印的图片最小高度：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="wmheight" name="wmheight" value="{{$watermarkres.wmheight}}" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="wmwidth" class="col-sm-2 control-label no-padding-right">添加水印的图片最小宽度：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="wmwidth" name="wmwidth" value="{{$watermarkres.wmwidth}}" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="wmpic" class="col-sm-2 control-label no-padding-right">水印图片：</label>
                                            <div class="col-sm-6">
                                                <input type="file" class="form-control" id="wmpic" name="wmpic" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>
                                        {notempty name="$watermarkres.wmpic"}
                                        <div class="form-group">
                                            <label for="wmpic" class="col-sm-2 control-label no-padding-right"></label>
                                            <div class="col-sm-6">
                                                <img src="__WATERMARK__/{{$watermarkres.wmpic}}" class="img-thumbnail" alt="">
                                            </div>
                                        </div>
                                        {/notempty}
                                        <div class="form-group">
                                            <label for="wmtext" class="col-sm-2 control-label no-padding-right">水印文字：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="wmtext" name="wmtext" value="{{$watermarkres.wmtext}}" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="wmfontsize" class="col-sm-2 control-label no-padding-right">水印文字大小：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" id="wmfontsize" name="wmfontsize" value="{{$watermarkres.wmfontsize}}" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填（单位：像素 px）</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="wmcolor" class="col-sm-2 control-label no-padding-right">水印文字颜色：</label>
                                            <div class="col-sm-6">
                                                <input type="color" class="form-control" id="wmcolor" name="wmcolor" value="{{$watermarkres.wmcolor}}" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="wmangle" class="col-sm-2 control-label no-padding-right">水印文字旋转角度：</label>
                                            <div class="col-sm-6">
                                                <input type="number" class="form-control" id="wmangle" name="wmangle" value="{{$watermarkres.wmangle}}" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填</p>
                                        </div>
                                        <div class="form-group">
                                            <label for="wmalpha" class="col-sm-2 control-label no-padding-right">水印图片透明度：</label>
                                            <div class="col-sm-6">
                                                <input type="number" class="form-control" id="wmalpha" name="wmalpha" value="{{$watermarkres.wmalpha}}" placeholder="">
                                            </div>
                                            <p class="help-block col-sm-4 red">* 必填（ 0 - 100，值越大透明度越低 ）</p>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label no-padding-right">水印位置：</label>
                                            <div class="col-sm-6">
                                                <div class="radio col-md-12">
                                                    <label style="padding-left: 0; padding-right: 20px;">
                                                        <input class="colored-blue" value="0" name="watermark_place_id" type="radio" {eq name="$watermarkres.watermark_place_id" value="0"}checked{/eq}>
                                                        <span class="text">随机 </span>
                                                    </label>
                                                </div>
                                                {volist name="wmplaceres" id="vo"}
                                                <div class="radio col-md-4">
                                                    <label style="padding-left: 0; padding-right: 20px;">
                                                        <input class="colored-blue" value="{{$vo.wmcode}}" name="watermark_place_id" type="radio" {eq name="$watermarkres.watermark_place_id" value="$vo.id"}checked{/eq}>
                                                        <span class="text">{{$vo.wmtitle}} </span>
                                                    </label>
                                                </div>
                                                {/volist}
                                            </div>
                                            <p class="help-block col-sm-4 red"></p>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit" class="btn btn-palegreen">保 存</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--//body-->
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>


{include file="common/js" /}
</body>
<!--  /Body -->
</html>
